.machine {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 4px;
  border: 1px solid rgb(0, 0, 0);
}

.machines {
  background-color: rgb(82, 82, 80);
  width: 192px;
  height: 370px;
  border: 1px solid rgb(238, 241, 6);
  border-radius: 4px;
  margin: 20px;
}

.selected {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 4px;
  border: 2px solid rgb(255, 248, 155);
}

h1, h2, h5 {
  color: yellow;
  margin: 10px;
  margin-top: 30px;
}