table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: rgb(255, 255, 255);
}

.tc {
  color: rgb(255, 255, 255);
}

td, th {
  border: 1px solid #79c9eb;
  text-align: left;
  padding: 8px;
}

thead {
  background-color: #10235a;
}

.boton {
  width: 100%;
  height: 20px;
}

.boton2 {
  width: 100px;
  height: 30px;
}
